<div class="container">
  <div class="card">
    <div
      class="card-header text-dark text-center text-bg-info text-white"
      style="font-size: x-large"
    >
      User Detail Information
    </div>
    <div class="card-body bg-black text-white">
      <h5 class="card-title text-center">
        {{ user.firstName }} {{ user.lastName }}
      </h5>
      <hr />
      <div class="card-text">
        <div class="row">
          <div class="col">UserID</div>
          <div class="col">
            <p>{{ user.uid }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">Username</div>
          <div class="col">
            <p>{{ user.username }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">First Name</div>
          <div class="col">
            <p>{{ user.firstName }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">Last Name</div>
          <div class="col">
            <p>{{ user.lastName }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">Email</div>
          <div class="col">
            <p>{{ user.email }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">Phone</div>
          <div class="col">
            <p>{{ user.phone }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col text-center" style="font-size: larger">
            Address Information
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col">Home Address</div>
          <div class="col">
            <p>{{ user.address.addressLine }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">City</div>
          <div class="col">
            <p>{{ user.address.city }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">State</div>
          <div class="col">
            <p>{{ user.address.state }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">Pincode</div>
          <div class="col">
            <p>{{ user.address.pinCode }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">Country</div>
          <div class="col">
            <p>{{ user.address.country }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
