<div class="container">
  <input class="btn btn-info mb-2" style="float: right;" type="button" value="Add User"/>
</div>
  <table class="table table-success table-striped">
    <thead>
      <tr>
        <th>UID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList">
        <td>{{ user.sid }}</td>
        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>
          <input class="btn btn-primary col-3 me-sm-2" type="button" value="View Details"/>
          <input class="btn btn-warning col-3 me-sm-2" type="button" value="Edit"/>
          <input class="btn btn-danger col-3 me-sm-2" type="button" value="Delete"/>
        </td>
      </tr>
    </tbody>
  </table>
  <app-user-info></app-user-info>
